.BsFacebook a{
    height: 20px;
    width: 50%;
    font-size: 30px;
    padding-right: 20%;
    margin-right: 20%;
    color: white;
    
  
}
.network{
    width: 51px;
    height: 80px;
    top: 32%;
}