.AtelierFlexbox {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px auto;
}
 .invisible {
     height: 50px;
 }
 .hidd {
    display: flex;
    justify-content: center;
    margin: auto;

    .signredirect {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        padding: 50px;
        background: #FCFCFC;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        max-width: 320px;
        p {
            font-weight: 400;
            font-size: 15px;
            line-height: 21px;
            text-align: center;
            letter-spacing: -0.1px;
            color: #9A9EA7;
            margin-bottom: 25px;
        }
        button {
            background-color: #E9020C;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 8px;
                width: 90%;
                color: #fff;
                padding: 13px 40px;
                cursor: pointer;
                outline: none;
                border: none;
                font-weight: 600;
                font-size: 15px;
                line-height: 24px;
                transition: all ease-in-out 0.2s;
            
                &:hover {
                    background-color: #f53c45;
                    transition: all ease-in-out 0.2s;
                }
        }
    }
 }
//MEDIA QUERIES FOR RESPONSIVNESS
@media screen and (max-width:1100px) {
    .AtelierFlexbox {
        width: 100%;
    }
}
@media screen and (max-width:900px) {
    .AtelierFlexbox {
        width: 100%;
        flex-direction: column;
        margin-bottom: 0px;
    }
}