.NotFound_Wrapper  {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url("../../assets/Notfound.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    .fourOfour {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 150px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 5px;
        color: #E9020C;
    }
    .notF {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 90px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 5px;
        color: #515151;
    }
    button {
        background-color: #E9020C;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            max-width: 300px;
            width: 90%;
            color: #fff;
            padding: 13px 80px;
            cursor: pointer;
            outline: none;
            border: none;
            font-weight: 600;
            font-size: 15px;
            line-height: 24px;
            transition: all ease-in-out 0.2s;
            margin-top: 100px;
            &:hover {
                background-color: #f53c45;
                transition: all ease-in-out 0.2s;
            }
    }
}
//MEDIA QUERY FOR RESPONSIVNESS 
@media screen and (max-width:600px) {
    .NotFound_Wrapper {
        .fourOfour {
            margin-top: 30px;
            font-size: 100px;
            -webkit-text-stroke-width: 3px;
        }
        .notF {
            font-size: 60px;
            -webkit-text-stroke-width: 3px;
        }
    }
}